$colorPrimary:#C74634;
$colorSecondary:#3A3632;
$colorText:#fafafa;




:host >>> .centeredMenuBar.p-menubar-root-list {
    text-align: right !important;
}


//.bg-primary{
//    background-color: $colorPrimary !important
//}
//.bg-secondary{
//    background-color: $colorSecondary !important
//}
div.appLogo{
                display: block;
                p{
                    color: $colorPrimary;
                    font-size: 24px;
                }
            }
