<div class="card cite-{{id}}" (click)="sendToggleSelection(id)">
    <div class="image"><img
        src="{{authorImage}}" 
        alt="author" 
        class="author"><p class="overlay">{{author}}</p></div>
        <div class="textbox">
    <div class="citebox"><p class="cite">
        {{cite}}
    </p></div>
    <div class="bookbox"><p class="book">{{book}}</p></div>
    <div class="actions">
        <input (click)=sendDelReq(id) type="button" value="x">
        <input (click)=sendEditReq(id) type="button" value="e"></div>
    </div>
</div>