
<p-card header="{{author|titlecase}}" class="card cite-{{id}}" [style]="{width: '20rem'}" styleClass="p-card-shadow mt-2 {{selected ? 'surface-200' : ''}}" (click)="sendToggleSelection(id)">
  <ng-template pTemplate="header" >
    <img alt="Card" class="h-12rem bg-bottom surface-100" src="{{authorImage}}" [ngStyle]= "{'object-fit': 'contain'}" />
  </ng-template>



       <p class="font-italic "> {{cite}} </p>



        <ng-template pTemplate="footer">
	  <p class="book">{{book}}</p>
	    </ng-template>


</p-card>
